@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

:root{
	--yellow:rgb(255,255,102);
	--blue:rgb(114,216,255);
	--red:rgb(255,102,102);
	--green:rgb(102,255,102);
	--orange:rgb(255,198,108);
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-size:20px;
	background: linear-gradient(var(--blue),white);
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Ubuntu"
}

/*Navigation*/

#nav_bar{
	width:100%;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 1em;
	padding: 1em;
	align-items: center;
	background-color:white;
	position:fixed;
	top:0;
	z-index:1;
}

#nav_bar a{
	display: block;
	text-align:center;
	text-decoration:none;
	color:black;
	background-color:var(--orange);
	padding:1em;
	border:2px solid black;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .25em;
}

#nav_bar a:hover{
	color:var(--orange);
	background-color:black;
}

#logo{
	display: block;
	width:5em;
	margin:0 auto;
}
#login {
	margin-top: 7em;
	

}