<!DOCTYPE html>
<html>
<head>
	<title>SPYDR</title>
	<link rel="stylesheet" type="text/css" href="themes/about.css">
	<link rel="icon" href="images/icon.png">

</head>
<body>
	<!--Navigation-->
	<ul id="nav_bar">
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><img id = "logo" src="images/icon.png"></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/sign">Sign Up</a></li>
	</ul>
	<!--Main-->
	<div id="main">
		<div id="content">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			<h1>About Us<h1>
			<br>
			<p><h4>We are all <i>aspiring computer engineers </i>with varying experience with coding languages. We also all have many different hobbies outside of coding which make our team very unique! With the support of Google's Code Next Program, we are given the opportunity to learn about many coding languages while bonding with the people around us. Here is some additional info about each member of our team, how coding impacts them and careers they may want in the future!<h4><p><br> 
			</div>
		
		<div id="kayley" class= "person">
			<h2>Kayley Chery</h2>
			<img style= "border:5px solid black"id= "kay_image" src=
			 "images/KAYLEY2.jpg" width=300 >

			<p>
				<!--Name, age, school you attend-->
				My name is Kayley Chery and I'm 15 years old. I am a rising sophomore and attend Columbia Secondary School along with Mannendri.<br><br>

				<!--My experience in coding (1 sentence)-->
				I recently have been introduced to coding and I have the most confidence with HTML and CSS. I have various hobbies primarily Arts & Crafts. I can knit, sew, crochet. I also dable a little bit in design primarily with the Circut Design Software. 
				<br><br>
				<!-- My Hobbies (3 sentences)-->
				I'm primarily interested in the Fashion and Cosmetic industry along with Sustainability and hope to go to Fashion Institute of Technology for college, but I'm willing to just see where life takes me!
			<br>
			<a href="https://www.linkedin.com/in/kayley-chery-050255180/"> Fell free to check out My Linkedin</a>
			

			</p>
		</div>
		<br>
		<div id="mannendri" class= "person">
			<h2>Mannendri Olivares</h2>
			<img style= "border:5px solid black"id="man_image" src= "images/MANNENDRI2.jpg" width=300>
			<p>
				<!--Name, age, school you attend-->
				My name is Mannendri and I'm 14 years old. I am also a rising sophomore and attend Columbia Secondary School.
				<br><br>
				<!--My experience in coding (1 sentence)-->
				<!-- My Hobbies (3 or so sentences)-->
				<!-- 4 sentences total-->
				I have been coding for a few years now since 6th grade but it has not been super consistent.
				My hobbies include playing soccer with my brother and friends, playing Clash Playing Royale, and reading. I also enjoy taking part in robotics and I'm currently on the robotics team at my school.<br><br>

				<!--Fields of study you are interested in  + colleges? (2 sentences) -->
				I'm primarily interested in  STEM fields of study such as software engineering, and mechanical engineering.




			</p>
		</div>
		<br>
		
		<div id="kendric" class="person">
			<h2>Kendric Terry</h2>
			<img style= "border:5px solid black"id="ken_image" src= "images/KENDRIC2.jpg" width="300">
			<!--Name, age, school you attend-->
			<p> My name Kendric and I'm also 14. I am also a rising sophomore and I attend Mahattan Center for Science and Math. 
			<br><br>
			<!--My experience in coding (1 sentence)-->
			<!-- My Hobbies (3 or so sentences)-->
			<!-- 4 sentences total-->
			I have been coding since 5th Grade and attended my first Hackathon in 2015. Also at that Hackathon I got second place which is pretty cool! My hobbies include playing video games such as Dragon Ball Z dokkan battle on my iPad and drawing (primarily anime characters).
			<br><br>
			<!--Fields of study you are interested in  + colleges? (2 sentences) -->
			I am also interested in STEM fields such as computer science and computer engineering.

			</p>
		</div>
		<br>


	</div>

</body>
</html>
