<!DOCTYPE html>
<html>
<head>
	<title>Spydr</title>
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<!--Navigation-->
	<ul id="nav_bar">
		<li><a href="/">Home</a></li>
		<li><a href="#">About</a></li>
		<li><img id = "logo" src="images/icon.png"></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/sign">Sign Up</a></li>
	</ul>

	<!--Main-->
	<div id="main">
		<div id ="title">
			<p><span>S</span>tart</p>
			<p><span>P</span>lanning</p>
			<p><span>Y</span>our</p>
			<p><span>D</span>ays</p>
			<p><span>R</span>ight</p>
		</div>
		<div id="about">
			<p>Welcome to</p>
			<img src="images/spydrlogo.png">
			
		</div>
	</div>

</body>
</html>
